$myColor: whitesmoke;

@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,700&display=swap');


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $myColor;
  font-family: 'Balsamiq Sans', cursive;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

.App {
  text-align: center;
}

.base-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 80vh;
  font-size: 40px;
  text-transform: uppercase ;
}


// .table {
//     display: flex;
//   justify-content: center;
//   align-items: center;
//   margin: auto;
// }