.detail-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px 100px;
}

.detail-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.detail-image {
  padding: 40px;
}

.image-detail {
  width: 200px;
}

.detail-category {
    text-transform: uppercase;
    color:darkblue;
}

.detail-price {
    font-size: 40px;
}

.detail-stars {
    color: yellow;
    width: 30px;
    height: 30px;
}
