.detail-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px 100px;

  .detail-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .display-none {
    display: none;
  }

  // .buy-actions {
  //   display: flex;
  // }

  .detail-image {
    padding: 40px;
  }

  .image-detail {
    width: 200px;
  }

  .detail-category {
    text-transform: uppercase;
    color: darkblue;
  }

  .detail-price {
    font-size: 40px;
  }

  .detail-stars {
    color: yellow;
    width: 30px;
    height: 30px;
  }

  .btn-add-to-cart-detail {
    width: 100%;
    margin: 10px 0px;
    background-color: white;
    outline: 1px solid slategray;
    color: slategray;
    border: none;
    padding: 5px 20px;
    text-transform: uppercase;
  }


  .btn-add-to-cart-detail:hover {
  background-color: slategray;
  color: white;
}
}

@media screen and (max-width: 700px) {
  .detail-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 40px 5 0px;
  }
}
