.category-title {
  padding: 40px;
  display: flex;
  justify-content: center;
}

.header-home {
  background-image: url("../../assets/images/juegos-header.jpg");
  background-size: cover;
  height: 300px;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

//   h2 {
//     color: white;
//     font-size: 40px;
//   }
}
