.navcontainer {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: #212121;
    color: whitesmoke;
}
.navcontainer ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.navcontainer ul li {
    margin-right: 10px;
}

.accountNav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.accountNav p {
    margin-right: 10px;
}

.faBeer {
    width: 2em;
    height: 2em;
}

.Menu {
    display: none;
}

.MobileMenu {
     display: none;
}

@media screen and (max-width: 600px) {
    .Menu {
        display: flex;
        align-items: center;
    }

    .Menu > svg {
        margin-right: 10px;
    }
    .MobileMenu {
        display: none;
    }

    .accountNav {
        display: none;
    }

    .desktopMenu {
        display: none;
    }
    
}
