footer {
  background-color: black;
  color: whitesmoke;

  .footer-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  .links a {
    color: whitesmoke;
    font-size: 1rem;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.3s linear;
  }
  .links a:hover {
    color: tomato;
    padding-left: 1.5rem;
  }
  .social-icons {
    display: none;
  }
  .links-container {
    height: 0px;
    overflow: hidden;
    transition: all 0.3s linear;
  }
  .show-container {
    height: 10rem;
  }

  .accountNav {
    display: none;
  }

  Link {
    text-decoration: none;
  }

  .faBeer {
    color: white;
  }

  @media screen and (min-width: 800px) {
    .footer-center {
      max-width: 1170px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
    }
    .footer-header {
      padding: 0;
    }

    .links-container {
      height: auto !important;
    }
    .links {
      display: flex;
    }
    .links a {
      padding: 0;
      margin: 0 0.5rem;
    }
    .links a:hover {
      padding: 0;
      background: transparent;
    }
    .social-icons {
      display: none;
    }
    .social-icons a {
      margin: 0 0.5rem;
      color: white;
      transition: all 0.3s linear;
    }
    .social-icons a:hover {
      color: tomato;
    }

    /* Nuevos */

    .accountNav {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    .accountNav p {
      margin-right: 10px;
    }

    .faBeer {
      width: 2em;
      height: 2em;
    }
  }
}
